certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
idna==2.6
matplotlib==2.2.2
numpy==1.14
olefile==0.44
opencv-python==3.2.0.7
Pillow==4.2.1
pygame==1.9.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
six==1.11.0
u-msgpack-python==2.4.1
urllib3==1.22
openpyxl
scipy
structlog
wxPython
