certifi==2020.11.8
click==7.1.2
future==0.18.2
importlib-metadata==3.1.0
Jinja2==2.11.3
joblib==0.17.0
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.3
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-ivory==0.4.6
nltk==3.5
PyYAML==5.4
regex==2020.11.13
six==1.15.0
tornado==6.1
tqdm==4.54.0
wincertstore==0.2
zipp==3.4.0